html,nav, body{
	height: 100%;
	width: 100%;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
a{
	width: 10%;
}
img{
	min-width: 20px;
	max-width: 25px;
}
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.1rem solid black;
	margin-bottom: 2rem;
	padding: 0.5rem;
}

.cabecalho{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 0.1rem solid black;
	margin-top: 2rem;
}
.rodape{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.aprender{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 2rem;
}
section{
	margin: 2rem;
	padding: 1rem;
	background-color: rgba(6, 6, 248, 0.397);
	border-radius: 8%;
	
}
