:root {
	--azul-escuro:rgb(0,0,128);
	--azul-claro:rgb(75,66,238);
	--verde-escuro:rgb(71,165,22);
	--verde-claro:rgb(157,255,128);
	--amarelo:rgb(255,247,128);
  }
html,nav, body{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
}
a{
	width: 10%;
}
img{
	min-width: 20px;
	max-width: 25px;
	margin: 0 0.5rem 0 0.5rem;

}
aside{
	display: none;
}
h1{
	font-size: 2rem;
}

header input{
	display: none;
}
header{
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	border-bottom: 0.1rem solid black;
	margin-bottom: 2rem;
	padding: 0.5rem;
}

.cabecalho{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 0.1rem solid black;
	margin-top: 2rem;

}
.rodape{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.aprender{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 2rem;
}
.main{
	height: 100%;
}
section.conteudo{
	
	padding: 1rem;
	background-color: var(--azul-claro);
	border-radius:1rem;
	width: 50%;
	margin: 0.5rem;
	
	
}
.Progress-Canvas{
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 1rem;
	width: 90%;
	height: 50%;
	background-color: var(--azul-escuro);
	border-radius: 1rem;
	justify-content: center;
	align-items: center;
	
}
.Progress-Canvas>img{
	width: 100%;
	margin: 6rem;
	height: max-content;
	transform: scale(500%);
	border-radius: 1rem;
	

}

.container-explorar{
	display: flex;
	margin: auto;
	margin-top: 1rem;
	width: 90%;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	
}
.container-explorar>ul{
	display: flex;
	overflow-x: scroll;
	width: 50%;
	gap: 1rem;
	height: 100%;
	flex-wrap: nowrap;
	background-color: var(--azul-claro);
	padding: 1rem;
	border-radius: 1rem;
	

}
.container-explorar>ul>li {
	height: 100%;
	
	
}
.container-explorar iframe{
	height: 100%;
	
}

.topico{
	background-color: var(--amarelo);
	padding: 1rem;
	width: 90%;
	margin: auto;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	justify-items: center;
	align-items: center;
}
.Dados {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.topico>h2{
	font-size: 1.5rem;
	margin-bottom: 0.3rem;
}
.topico>ul{
	display: none;
}
.topico:hover>ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto;
}
.img-aula{

	display: flex;
	flex-wrap: wrap;
	width: 90vw;
	margin: auto;
	flex-direction: column;
	justify-content: center;

}
.img-aula>img{
	
	margin: auto;
	transform: scaleX(500%);
	height: 150px;
	
}
.aula h2 , .aula p{
	margin: 1rem;
}
.aula h2{
	font-size: 1.5rem;
}

.topico li {

	
	background-color: var(--azul-claro);
	padding: 0.5rem;
	width: 100%;
	margin-bottom: 0.5rem;
	text-align: center;
	border-radius: 0.5rem;
	border: 0.1rem solid black;
	color: white;
	

}

.topico a  {
	display: block;
	width: 100%;
	text-decoration: none;
	color: white;
}


.graficoDeDados {
	min-width: 10rem;
	max-width: 12px;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.botaoDesempenhoSemanal{
	background-color: var(--azul-claro);
	color: white;
	padding: 0.5rem;
	border-radius: 5%;
	margin-bottom: 2rem;
}
.main-ex{
	display: flex;
	justify-content: center;
}
.exercicio{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	padding: 0.5rem;
	border: 0.2rem solid black;
	border-radius: 1rem;
}

.exercicio h2{
 font-size: 1.5rem;
 margin: 0.5rem;
}
.exercicio h3{
	font-size: 1.1rem;
	margin: 0.5rem;
}
.questao{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1rem;
	margin: 0.5rem;
	
}
.exercicio a{
	font-size: 1.5rem;
	background-color: var(--verde-escuro);
	text-decoration: none;
	color: white;
	padding: 0.2rem  1rem;
	width: 5rem;
	text-align: center;
	border-radius: 0.5rem;
	margin-top: 1rem;
	
}
.exercicio button{
	margin-left: 2rem;
	width: 4rem;

}
