html,nav, body{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
}
a{
	width: 10%;
}
img{
	min-width: 20px;
	max-width: 25px;
	margin: 0 0.5rem 0 0.5rem;

}
aside{
	display: none;
}



header{
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.1rem solid black;
	margin-bottom: 2rem;
	padding: 0.5rem;
}

.cabecalho{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 0.1rem solid black;
	margin-top: 2rem;

}
.rodape{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.aprender{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 2rem;
}
section.conteudo{
	
	padding: 1rem;
	background-color: rgba(6, 6, 248, 0.397);
	border-radius: 3%;
	width: 50%;
	margin: 0.5rem;
	
	
}
.Progress-Canvas{
	display: flex;
	margin: auto;
	margin-top: rem;
	width: 90%;
	background-color: lightgrey;
	border-radius: 5%;
	justify-content: center;
	align-items: center;
}
.Progress-Canvas>img{
	display: block;

}

.container-explorar{
	display: flex;
	margin: auto;
	margin-top: 1rem;
	width: 90%;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.container-explorar>ul{
	display: flex;
	overflow-x: scroll;
	width: 50%;
	gap: 1rem;
	flex-wrap: nowrap;
	background-color: lightgrey;
	padding: 1rem;
	border-radius: 8%;
	flex-grow: 1;
}
.container-explorar>ul>li {
	height: 100%;
	
}
.container-explorar iframe{
	height: 100%;
	
}

.Dados {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.graficoDeDados {
	min-width: 10rem;
	max-width: 12px;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.botaoDesempenhoSemanal{
	background-color: blue;
	color: white;
	padding: 0.2rem;
	border-radius: 5%;
	margin-bottom: 2rem;
}
